.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 93px 50px 85px;
}

.header__menu {
  margin-right: 44px;
  padding-bottom: 12px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* align-content работает только при flex-wrap: wrap */;
  justify-content: center;
  align-content: center;
  gap: 32px;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  text-underline-offset: 3px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item::marker {
  padding-left: 6px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 115px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 192px;
  padding-bottom: 11px;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.address__item {
  font-style: normal;
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;

  z-index: 0;
  min-height: 757px;
  padding: 145px 50px 0px;

  background-image: url(../images/cover.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 10;
  color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.cover__title-text {
  display: block;
  margin-top: 20px;
}

.cover__title-text_center {
  padding-left: 30px;
  text-align: center;
}

.cover__title-text_right {
  margin-right: -0.3em;
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  align-items: center;
}

.cover__description-text {
  color: #ffffff;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  word-spacing: 18px;
}

.bet-button {
  border-width: 0.5px;
  border-style: solid;
  border-color: #ffffff;
  padding: 13px 32px;

  color: #ffffff;

  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 182px 24px 0px;
}

.lots__heading {
  margin-left: 40px;

  color: #000000;

  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.lots__card-list {
  display: flex;

  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list__element {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 48px 40px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 10;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;

  /* text-underline-offset: 3.5px; */
  text-transform: uppercase;
}

.card__text {
  z-index: 10;
  color: #ffffff;

  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 33px;
  margin-left: 40px;
  color: #000000;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  text-underline-offset: 4.5px;
}

.about__conteainer {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-top: 120px;
  margin-left: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  max-width: 148px; /* Уменьшаем логотип, чтобы он поместился */
  max-height: 114px;
}

.about__title {
  margin-top: 138px;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  width: 693px;
  margin-bottom: 24px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  /*margin-top: 100px; */
}

.paragraphs__begining {
  width: 688px;
  margin-top: 105px;
  margin-bottom: 24px;
  padding-right: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 265px 164px 240px;
  justify-content: space-between;
  margin: 156px 50px 82px;
}

.footer__address {
  flex-wrap: nowrap;

  margin-left: 0px;
  padding-bottom: 0px;

  font-style: normal;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 21px;
  padding-bottom: 29px;
}

.footer__menu-list {
  padding-right: 2px;
  padding-bottom: 3px;

  list-style: none;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
  min-width: 164px;
  margin-bottom: 3px;

  text-underline-offset: 3px;
}

.footer__menu-link {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 46px;
  margin-bottom: 50px;
  list-style: none;
}

.footer__social-link {
  display: inline-block; /* чтобы вся картинка становилась ссылкой */
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

